
/* 
    Basic stylesheet
    Created on : Nov 2, 2014, 12:59:44 PM
    Author     : Ben Connick
*/

@font-face {
	font-family: 'journey';
	src: url('JourneyPS3.ttf');
}

body {
    position: absolute;
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    height: 100%;
}

#background {
    margin: 0 0;
    padding: 0 0;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #cfa595;
    background-size: 110%;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
}

#foreground {
    margin: 0 0;
    padding: 0 0;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-size: 110%;
    background-image: url('foreground.png');
    background-repeat: no-repeat;
}


#darken {
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.25;
}
