
/* GENERAL STYLES */

#bounds {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0;
    width: 800px;
    top: 30px;
}

#title {
    color: white;
    font-size: 2em;
    font-family: journey, sans-serif;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
    line-height: 100%;
}

#nav {
    position: relative;
    background-color: black;
    width: 800px;
    height: 40px;
}

#nav2 {
    position: relative;
    background-color: black;
    width: 800px;
    height: 40px;
}

.navBtn {
    position: absolute;
    color: white;
    font-size: 1.3em;
    font-family: journey, sans-serif;
    width: 100px;
    text-shadow: 0px 0px 40px rgba(255, 255, 255, 1);
    cursor: pointer;
}

.navBtn:hover {
    text-shadow: 0px 0px 40px rgba(100, 100, 255, 1);
}

#back {
    top: 10px;
    left: 25px;
}

#home {
    top: 10px;
    left: 350px;
}

#next {
    top: 10px;
    left: 720px
}

#back2 {
    top: 10px;
    left: 25px;
}

#home2 {
    top: 10px;
    left: 350px;
}

#next2 {
    top: 10px;
    left: 720px
}

#words {
    position: relative;
    font-family: "Times New Roman";
    font-size: 1.3em;
    color: white;
    text-indent: 2em;
    padding: 30px;
    background-color: black;
    box-shadow: 0px 0px 25px #000;
    margin-bottom: 50px;
    line-height: 1.5em;
}

#citations {
    position: relative;
    font-family: "Times New Roman";
    font-size: 1.2em;
    color: white;
    padding: 30px;
    background-color: black;
    box-shadow: 0px 0px 25px #000;
    margin-bottom: 50px;
    line-height: 2em;
    /*hanging indentations*/
    padding-left: 52px ;
    text-indent: -22px ;
}

.chirp {
    position: absolute;
    z-index: 1000;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.73) 43%,rgba(255,255,255,0.75) 44%,rgba(255,255,255,1) 56%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.73) 43%,rgba(255,255,255,0.75) 44%,rgba(255,255,255,1) 56%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.73) 43%,rgba(255,255,255,0.75) 44%,rgba(255,255,255,1) 56%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.73) 43%,rgba(255,255,255,0.75) 44%,rgba(255,255,255,1) 56%,rgba(255,255,255,0) 70%); /* W3C */
}


/* PAGE SPECIFIC STYLES */
#candy {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 350px;
    background-image: url("https://c1.staticflickr.com/9/8542/8646910345_44b892b64f_z.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -60px;
    box-shadow: 0px 0px 25px #000;
}

#eurogamer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 350px;
    background-image: url("eurogamer.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -60px;
    box-shadow: 0px 0px 25px #000;
}

#youtube {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 487px;
    background-image: url("youtube.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0px 0px 25px #000;
}

#soundcloud {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    box-shadow: 0px 0px 25px #000;
}