/*
This is the base file which keeps the formats consistent across pages
*/

html, * {
    font-family: 'Open Sans', sans-serif;
    color: #3B3738;
}

body {
    font-family: 'Open Sans', 'Helvetica Nue', sans-serif;
    /*background-color: #C63D0F;*/
    background-color: #fafafa;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

header {
    margin-top: 45px;
    font-weight: 600;
    font-size: 3.2em;
}

a {
    /*color: #3B3738;*/
    /*text-decoration: none;*/
    /*font-weight: bold;*/
}

h2 {
	margin-top: 0;
}

#bounds {
    z-index: 0;
    position: relative;
    margin: 0 auto;
    width: 800px;
    padding: 6px;
    //box-shadow: 0px 0px 10px black;
    overflow-x: hidden;
}

#nav {
    padding: 11px;
    /*position: fixed;*/
    z-index: 2;
    width: 100%;
    margin: 0px;
    font-size: 16pt;
    background-size: 50%;
    text-align: right;
    min-height: 20px;
    background-color: #fffcd7;
}

.navLink {
    display: inline;
}

.navBox {
    display: inline-block;
    margin: 2px;
    width: 190px;
    height: 35px;
    color: #FDF3E7;
    background-color: #3B3738;
    border: solid #FDF3E7;
    text-align: center;
}

.nameItem {
	position: absolute;
	top: 0.5em;
	left: 1em;
}

.navItem {
	margin-top: 0;
	margin-right: 1em;
	margin-left: 1em;
	font-size: 0.8em;
	color: black;
	vertical-align: text-bottom;
}

.navItem:hover {
	opacity: 0.5;
	cursor: pointer;
}

.navItem > img {
	height: 1.5em;
}

.rightAlignedNavBox {
	position: absolute;
	right: 47px;
	top: 21px;
}

.navBox:hover {
    background-color: #C63D0F;
    /*border: solid #3B3738;*/
}

.centered {
    display: block;
    margin: 0 auto;
}

.magicAltText {
	visibility: hidden;
	position: absolute;
	top: -0.3em;
	right: 2em;
	width: 10em;
	height: 1em;
}

.navItem:hover .magicAltText {
	visibility: visible;
}

/* mobile */
@media (min-width: 0px) {
	#bounds {
		width: 300px;
	}
	.navItem {
		font-size: 0.6em;
		margin-right: 1em;
	}
	#nav {
		padding: 3px;
	}
	.nameItem {
		font-size: 0.6em;
		top: 0.6em;
	}
}

/* small window */
@media (min-width: 800px) {
	#bounds {
		width: 800px;
	}
	.navItem {
		font-size: 0.7em;
		margin-right: 1em;
	}
	.nameItem {
		top: 0.7em;
		font-size: 0.7em;
	}
	#nav {
		padding: 5px;
	}
}

/* monitor */
@media (min-width: 1200px) {
	#bounds {
		width: 1200px;
	}
	.navItem {
		font-size: 0.8em;
		margin-right: 2em;
	}
	.nameItem {
		top: 0.5em;
		font-size: 1em;
	}
	#nav {
		padding: 11px;
	}
}

/* wide monitor */
@media (min-width: 1800px) {
	#bounds {
		width: 1600px;
	}
	.nameItem {
		top: 0.7em;
		font-size: 1em;
	}
	.navItem {
		font-size: 0.8em;
		margin-right: 2em;
	}
	#nav {
		padding: 11px;
	}
}
