/* Styles for the various canvases */

#bigCanvas {
    display: block;
	position: absolute;
	z-index: -1;
	top: 100px;
	left: calc(50% - 350px);
	border: white;
}

.miniCanvas {
    position: absolute;
    right: calc(50% - 390px);
    z-index: 1;
    
    /*border: solid white;*/
}
#miniCanvas {
	top: -1000px;
}
#ProCanvas {
    top: 5400px;
}
#CatCanvas {
    top: 4800px;
}
#FinCanvas {
    top: 4000px;
} 
#MusCanvas {
    top: 3300px;
}
#GooCanvas {
    top: 2500px;
}