/*
styles for the index of the procrastinator hero project
*/
/* 
    Created on : Sep 10, 2014, 10:48:38 AM
    Author     : user
*/
body {
    background-color: black;
}

#credits { 
    color: #333;
    z-index: 10;
    display: block;
    position: absolute;
    bottom: 5px;
}

#menuBounds {
    position: absolute;
    z-index: 0;
    top: 0%;
    left: 0%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

#menuTable {
    width: 100%;
    font-size: 3em;
}

input {
    word-wrap: normal;
    font-size: 1em;
    width: 95%;
    height: 100%;
}

#GO {
    position: relative;
    left: 45%;
    font-size: 4em;
}

#waitingBounds {
    position: absolute;
    z-index: 0;
    top: 0%;
    left: 0%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#left_eye {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 20%;
    width: 20%;
    height: 45%;
}

#right_eye {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 60%;
    width: 20%;
    height: 45%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#left {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 80%;
    height: 100%;
}

#right {
    background-color: #000;
    position: absolute;
    top: 0%;
    left: 80%;
    width: 20%;
    height: 100%;
}

#monsterHealthBarHolder {
    z-index: 1;
    position: absolute;
    background-color: white;
    left: 20%;
    top: 20%;
    height: 70%;
    width: 20%;
}

.blackBar {
    z-index: 1;
    position: absolute;
    background-color: black;
    left: 10%;
    bottom: 1%;
    width: 80%;
    height: 98%;
}

#monsterHealthBar {
    z-index: 2;
    position: absolute;
    background-color: red;
    left: 10%;
    bottom: 1%;
    width: 80%;
    height: 98%;
}

#playerHealthBarHolder {
    z-index: 1;
    position: absolute;
    background-color: white;
    left: 60%;
    top: 20%;
    height: 70%;
    width: 20%;
}

.blackBar {
    z-index: 1;
    position: absolute;
    background-color: black;
    left: 10%;
    bottom: 1%;
    width: 80%;
    height: 98%;
}

#playerHealthBar {
    z-index: 2;
    position: absolute;
    background-color: green;
    left: 10%;
    bottom: 1%;
    width: 80%;
    height: 98%;
}

#timer {
    color: white;
    font-size: 4em;
    position: absolute;
    left: 10%;
    top: -8%;
}

#choiceBounds {
    //opacity: 0.2;
    position: absolute;
    z-index: 0;
    top: 0%;
    left: 0%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}


#yes {
    width: 90%;
    height: 40%;
    background-color: green;
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 5%;
}

#yesText {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

#no {
    width: 90%;
    height: 40%;
    background-color: red;
    margin-left: 5%;
}

#noText {
    width: 100%;
    position: relative;
    top: 25%;
    text-align: center;
}


#loseBounds {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#loseText {
    position: absolute;
    width: 100%;
    top: 20%;
    color: white;
    font-size: 4em;
    text-align: center;
}

#source {
    color: white;
    font-size: 2em;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

#winBounds {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#winText {
    position: absolute;
    width: 100%;
    top: 40%;
    color: white;
    font-size: 4em;
    text-align: center;
}

.clickPrompt {
    position: absolute;
    width: 100%;
    top: 5%;
    color: white;
    font-size: 2em;
    text-align: center;
}