
/* 
    Created on : Jul 17, 2014, 12:13:43 PM
    Author     : bconnick
*/

@font-face {
    font-family: JosefinSans-Light;
    src: url("JosefinSans-Light.ttf")
} 

#verticals {
    /*opacity: 0; // temporary!*/
    padding-top: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 0;
    overflow: hidden;
}

.vertical {
    position: absolute;
    left: 0px;
    margin: 0px;
    padding: 0px;
    top: 0px;
    width: 10%;
    vertical-align: top;
    opacity: 0;
    border: solid white;
}


#vert1 {
    left: 0%;
}
#vert2 {
    left: 10%;
}
#vert3 {
    left: 20%;
}
#vert4 {
    left: 30%;
}
#vert5 {
    left: 40%;
}
#vert6 {
    left: 50%;
}
#vert7 {
    left: 60%;
}
#vert8 {
    left: 70%;
}
#vert9 {
    left: 80%;
}
#vert10 {
    left: 90%;
}

.date {
    position: absolute;
    z-index: 5;
    font-family: JosefinSans-Light;
    width: 10%;
    top: 88%;
    color: white;
    opacity: 0.2;
}

#date1 {
    left: 1.8%;
}
#date2 {
    left: 11.8%;
}
#date3 {
    left: 21.8%;
}
#date4 {
    left: 31.8%;
}
#date5 {
    left: 41.8%;
}
#date6 {
    left: 51.8%;
}
#date7 {
    left: 61.8%;
}
#date8 {
    left: 71.8%;
}
#date9 {
    left: 81.6%;
}
#date10 {
    left: 91.9%;
}